@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.subject-layout-child {
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
.question-number p {
  display: inline;
}
.question-number p {
  font-weight: 400;
}
.container {
  min-height: 100vh;
}
.two-line-break {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.avatar-sm {
  width: 24px;
  height: 24px;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.hide-scroll::-webkit-scrollbar {
  width: 0;
}
.table-wrap {
  padding: 5px;
  position: relative;
  display: flex;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background: #fbfbfb;
}
.table-content {
  width: 100%;
  max-height: calc(100% - 40px);
  overflow: auto;
}
.table-wrap .options-button {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0px;
  justify-content: center;
}

table {
  width: 100%;
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
  /* border-collapse: collapse;
  background-color: #ffffff;
  border-right: 1px solid black; 
  border-bottom: 1px solid black; 
  border-left: 1px solid black; 
  text-align: center;
  margin: auto;  */
}

th {
  color: #333;
  background: #209dcb;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.thead-row + .thead-row {
  position: relative;
  top: -2px;
}
tr:hover td {
  background: #8b94fb;
  color: #ffffff;
  border-top: 1px solid #22262e;
  transition: all ease 0.2s;
}

td {
  text-align: center;
  padding: 2px 4px;
  font-weight: 300;
  font-size: 12px;
}

table select {
  max-width: 20%;
}
table .head-option {
  padding: 0 24px;
  display: flex;
  align-items: center;
}
table .head-option input {
  margin-right: auto;
  outline: none;
  padding: 4px 8px;
  font-size: 14px;
}
table .head-option select {
  font-size: 14px;
  padding: 4px;
}
table .head-option select + select {
  margin-left: 20px;
}

input,
select {
  outline: none;
  font-size: 16px;
}
.add-question-form input,
.add-question-form select {
  padding: 4px 8px;
}
.shadow-around {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.shadow-grow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.correct {
  background-color: rgb(109 228 118 / 80%);
}
.wrong {
  background-color: rgb(255 139 139 / 80%);
}
.more div {
  display: none;
}
.more:hover div {
  display: block;
}
.itemLeft {
  margin: 5px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin: 3px;
  transition: all 0.3s;
  border-radius: 3px;
  cursor: pointer;
  padding: 3px 6px;
  font-size: 13px;
}
.header {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.left-content-item {
  display: flex;
  margin: 5px;
  padding: 8px 10px;
  border-radius: 5px;
  color: #3b6aa6;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  align-items: center;
  max-width: 230px;
  overflow: hidden;
  white-space: nowrap;
}
.room-list-item {
  border: 1px solid #eee;
  margin: 5px;
}
.room-list-item-box {
  display: flex;
}
.room-list-item-box p.room-list-item-h {
  padding: 5px;
  font-size: 15px;
  color: #235e7e;
  font-weight: bold;
}
.room-list-item-box p.room-list-item-time {
  padding: 5px;
  margin-left: auto;
  font-size: 13px;
  font-style: italic;
  color: #999;
  font-weight: 400;
}
.room-list-item .room-list-item-desc {
  font-weight: 400;
  padding: 0px 10px 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #a7aeb3;
}
.room-list-item:hover {
  cursor: pointer;
  border: 1px solid #b0f4ff;
  box-shadow: 1px 1px 3px #deebf1;
}
a .active {
  border: 1px solid #7cde0c;
  margin: 5px;
  animation: active 3s infinite;
}
a .active .room-list-item-box p.room-list-item-h {
  padding: 5px;
  font-size: 15px;
  color: #099015;
  font-weight: bold;
}
.mg5 {
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}
.right-content {
  flex: 1;
  width: calc(100% - 241px);
  display: flex;
  flex-direction: column;
}
.left-content-item svg {
  font-size: 20px;
  margin: 0px 15px 0px 5px;
}
.left-content-item p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-content-item:hover {
  color: #0d2f5d;
  background-color: #d9e4eb;
}
.left-content {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  background: #fdfdfd;
}
.bottom-button {
  margin: 5px;
}
.bottom-button div {
  margin: 0px;
  font-size: 13px;
}
.bottom-button div div {
  padding: 5px;
}
.bottom {
  margin-top: auto;
}
.header svg {
  margin: 0px 5px;
  font-size: 20px;
}
.app-name {
  align-items: center;
  text-transform: uppercase;
  color: #515fbc;
  font-weight: bold;
  margin: 5px;
  cursor: pointer;
}
.userAvatar {
  width: auto !important;
  height: auto !important;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
}
.itemLeft p {
  margin: 0px 5px;
}
.itemLeft:hover {
  background-color: #eee;
}
.top-nav {
  display: flex;
  width: 100%;
}
.right {
  margin-left: auto;
}
@keyframes active {
  0% {
    opacity: 0.6;
    box-shadow: 1px 1px 1px 1px #d8eae3;
  }
  50% {
    opacity: 1;
    box-shadow: 1px 1px 2px 2px #b0edd5;
  }
  100% {
    opacity: 0.6;
    box-shadow: 1px 1px 1px 1px #d8eae3;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
